#Footer{display:flex; width: 100%; min-height: 125px; margin: 0px auto; justify-content: center; align-items: center; padding: 40px 40px;
background: $BGColor2;
}

@media only screen and (min-width:0px) and (max-width:700px) {
    #Footer{min-height:50px; }
}