#Login {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 300px;
  margin: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
}
#Login button {
  width: 48%;
  font-size: 18px;
  color: $C_White;
  font-weight: 500;
}

// button.Btn_Login{background: $BGColor4; border: solid 1px $PrimaryColor;}
// button.Btn_Signup{background: $PrimaryColor; border: solid 1px $PrimaryColor;}
button.Btn_Singup {
  //   background: $BGColor4;
  background: $PrimaryColor;
  border: solid 1px $PrimaryColor;
}
button.Btn_Login {
  // background: $PrimaryColor;
  background: $BGColor4;
  border: solid 1px $PrimaryColor;
}

#Login button:hover {
  background: $C_White;
  border-color: $C_White;
  color: $PrimaryColor;
  transform: scale(1.1);
}
#Login button:active {
  background: $C_White;
  border-color: $C_White;
  color: $PrimaryColor;
  transform: scale(1);
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
  #Login {
    max-width: 200px;
  }
  #Login button {
    width: 48%;
    font-size: 12px;
    height: 40px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  #Login {
    max-width: 150px;
  }
  #Login button {
    width: 48%;
    font-size: 12px;
    height: 40px;
  }
}
