.preloader {display: flex;justify-content: center;align-items: center;height: 100vh; flex-direction:column; flex-wrap: wrap; background-color: #151515;}
.preloader svg{display: block; width:50%; max-width:150px; margin: 10px auto; }
// .preloader svg *{ fill:$PrimaryColor !important;stroke:$PrimaryColor !important}
.preloader svg *{stroke:#ffffff !important}
.preloader p{display: block; width:20%; margin: 0px auto; text-align: center;}