// @import "./components/fonts";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: "800"; /* Ekstra bold težina */
  font-style: normal;
}

// Objekts with colors sets
$themes: (
  default0: (
    BGColor1: #12203a,
    BGColor2: #07162f,
    BGColor3: #102d60,
    BGColor4: rgba(241, 158, 16, 0),
    PrimaryColor: #f19d10,
    C_White: #ffffff,
  ),
  default1: (
    BGColor1: #12181f,
    BGColor2: #161d26,
    // footer, pages, topBar
    BGColor3: #161d26,
    // accordion and box reating
    BGColor4: #161d26,
    // button login color
    PrimaryColor: #0caf60,
    C_White: #ffffff,
  ),
  default2: (
    BGColor1: #ffffff,
    BGColor2: #a9cae4,
    BGColor3: #a9cae4,
    BGColor4: #a9cae4,
    PrimaryColor: #ff4e31,
    C_White: #000000,
  ),
  default3: (
    BGColor1: #241855,
    BGColor2: #211740,
    BGColor3: #211740,
    BGColor4: rgba(0, 0, 0, 0),
    PrimaryColor: #d848f8,
    C_White: #ffffff,
  ),
  default4: (
    BGColor1: #031213,
    BGColor2: #071916,
    BGColor3: #0c201d,
    BGColor4: rgba(0, 0, 0, 0),
    PrimaryColor: #526959,
    C_White: #ffffff,
  ),
  default5: (
    BGColor1: #1d0000,
    BGColor2: #381c11,
    BGColor3: #2e1a13,
    BGColor4: rgba(0, 0, 0, 0),
    PrimaryColor: #feb32b,
    C_White: #ffffff,
  ),
);

// set witch color set will be in use
$active-theme: default4;

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  --BGColor1: #12203a;
  --BGColor2: #07162f;
  --BGColor3: #102d60;
  --BGColor4: rgba(241, 158, 16, 0);
  --PrimaryColor: #f19d10;
  --C_White: #ffffff;

  @each $key, $value in map-get($themes, $active-theme) {
    --#{$key}: #{$value};
  }
}

$BGColor1: var(--BGColor1);
$BGColor2: var(--BGColor2);
$BGColor3: var(--BGColor3);
$BGColor4: var(--BGColor4);
$PrimaryColor: var(--PrimaryColor);
$C_White: var(--C_White);

html {
  -webkit-tap-highlight-color: transparent;
  background: $BGColor1;
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", Poppins, sans-serif;
  position: relative;
  font-family: "Poppins", Poppins, sans-serif;
  background: $BGColor1;
}
body {
  margin: 0px auto;
  position: relative;
  z-index: 0;
  color: $C_White;
  overflow-x: hidden !important;
  overflow: scroll;
}
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
  outline: none;
}
img {
  display: block;
  border: 0px !important;
  outline: none !important;
  height: auto;
}
a {
  text-decoration: none;
}
iframe {
  text-decoration: none;
  border: 0px;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0px;
}

button {
  border: 0px;
  outline: none;
}

body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background: $BGColor2;
  border-radius: 0px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: $PrimaryColor;
}
body::scrollbar {
  width: 4px;
  border-radius: 100px;
}
body::scrollbar-track {
  background: $PrimaryColor;
  border-radius: 100px;
}
body::scrollbar-thumb {
  border-radius: 100px;
  background: $BGColor2;
}
body {
  scrollbar-face-color: $PrimaryColor;
  scrollbar-shadow-color: $PrimaryColor;
  scrollbar-arrow-color: $PrimaryColor;
  scrollbar-track-color: $BGColor2;
}

.ClearFix {
  clear: both;
}
.Transitions {
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.NoSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Ease {
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

p {
  display: block;
  width: 100%;
  margin: 0px auto 30px auto;
  padding: 0px 0px;
  text-align: justify;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5 {
  display: block;
  width: 100%;
  margin: 0px auto 30px auto;
  padding: 0px 0px;
  text-align: left;
}
h1 {
  font-size: 35px;
  line-height: 35px;
}
h2 {
  font-size: 20px;
  line-height: 20px;
}

.error-message {
  color: red;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
}
.bgIframe {
  background-image: url("../public//assets//slika-primer.png");
  background-color: #cccccc;
  height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@import "./components/Pages.scss";
@import "./components/Login.scss";
@import "./components/TopBar.scss";
@import "./components/BoxRatings.scss";
@import "./components/FaqAccordion.scss";
@import "./components/Preloader.scss";
@import "./components/Footer.scss";
